*{
	margin:0;
	padding:0;
}

body{
	color:#eee;
	background: repeat-x #1B1919;
}
.chat {
   margin:10px auto;
   width: 59.5%;
    
    	padding:10px;
}

#chatlog{
   height: 300px;
    border-radius: 6px;
    background-color: #FFF;
    padding: 5px 5px 5px 5px;
}

#chatlog p {
padding: 8px 0;
border-bottom: 1px solid #ccc;
color: #000;

}
#chatlog span {
color: white;
background: #303341;
padding: 4px 8px;
-moz-border-radius: 5px;
-webkit-border-radius: 8px;
margin: 5px 5px 5px 5px;
   
}

.input-group
{
    width: 60%;
    margin:10px auto;
   
}
.btn-default
{
    height: 74px;
}

.userPanel
{
height: 40px;
background: repeat-x #d0d0d0;
border: 1px solid #fff;
   margin:10px auto;
 width: 60%;
  border-radius: 6px;
position: relative;
color: #504646;
text-shadow: 1px 1px 0 #FFFFFF;
}
#userName
{
  margin:10px;
 width: 60%;

}
#send  {
    -moz-box-shadow: inset 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f0f7fa;
    box-shadow: inset 0px 1px 0px 0px #f0f7fa;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);

    background-color: #33bdef;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
 

    border: 1px solid #057fd0;

    display: inline-block;
    color: #ffffff;
   font-size: 30px;

    text-shadow: 0px 1px 0px #5b6178;

}
#send:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef', GradientType=0);

    background-color: #019ad2;
}

#send:active {
    position: relative;
    top: 1px;
}

.scroll
{
     width:100%;
    height:295px;
    overflow-x:hidden;
    overflow-y:scroll;
 
}

